.DS_Store
DeepLearning/model/
MachineLearning/input/*
MachineLearning/output/*
MachineLearning/test/
LSTM/output
LSTM/__pycache__
sample/
MachineLearningBenchmark/
MachineLearning/intermediate/
backup/
__pycache__
__pycache__/
MachineLearning/pre_processed_data/*